raw_data/*
!raw_data/.gitkeep

results/*
!results/.gitkeep

intermediate_files
intermediate_files/*
deprecated/*

*.log
*.log.*
*.err
*.err.*
*.out
*.out.*
.cursorrules

**/sbatch_logs/
config/user_configs.sh
config/tower_settings.sh
